/* RESETEAR ESTILOS*/
*, *::before, *::after {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

/* Custom Properties */
:root {
	--ff-primary: 'Ubuntu', sans-serif;
	--ff-secondary: 'Open Sans Condensed', sans-serif;
	
	--fw-reg: 300;
	--fw-bold: 900;
	
	--clr-ligth: #fff;
	--clr-dark: #003d51;
	--clr-accent: #fdeb80;
	
	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
	
	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25)
		0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
	:root{
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--clr-ligth);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	max-width: 100%;
}

strong { font-weight: var(--fw-bold)}

:focus {
	outline: 3px solid var(--clr-accent);
	outline-offset: 3px;
}

/*Buttons*/
.btn {
	display: inline-block;
	padding: .5em 2.5em;
	background: var(--clr-accent);
	color: var(--clr-dark);
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
	transition: transform 200ms ease-in-out;
	
}

.btn:hover {
	transform: scale(1.1);
}

/*Typography*/

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

.section__title {
	margin-bottom: .25em;
}

.section__title--intro {
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display: block;
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--informacion {
	background: var(--clr-accent);
	padding: .25em 1em;
	font-family: var(--ff-secondary);
	margin-bottom: 1em;
}

.section__subtitle--portafolio {
	color: var(--clr-accent);
	font-weight: var(--fw-bold);
	margin-bottom: 2em;
}

/*HEADER*/

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.logo {
	max-width: 300px;
}

.nav {
	position: fixed;
	background: var(--clr-dark);
	color: var(--clr-ligth);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:center;
	margin:0;
	padding:0;
}

.nav__link {
	color: inherit;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h2);
}

.nav__:hover {
	color: var(--clr-accent);
}

.nav-toggle {
	padding: .5em;
	background: transparent;
	border:0;
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index:50;
}

.nav-open .nav{
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
	
}

.nav-open .hamburguer {
	transform: rotate(.625turn);
}
.nav-open .hamburguer::before {
	transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburguer::after {
	opacity:0;
}
.hamburguer {
	display: block;
	position: relative;
	
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
	background: var(--clr-dark);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
	content: '';
	position: absolute;
	left: 0;
	right:0;
}

.hamburguer::before {top: 6px;}
.hamburguer::after {bottom:6px;}

/* INTRO SECTION*/
.intro {
	position: relative;
}

.intro__img {
	box-shadow: var(--bs);
  width: 25vw;
  aspect-ratio: 30/39;
}

.section__subtitle--intro {
	display: inline-block;
  width: 75vw;
}

#video1{
	position: fixed;
	align-items: center;
	z-index: 9999;
	right: 0;
	bottom: 0;
	background-color: white;
	width: 50%;
	aspect-ratio: 16/9;
	float: right;
	box-sizing: border-box;
	overflow: hidden;
	border: 4px solid;
	border-radius: 10px;
	
}

.gallery {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 50vh;
	height: 450px !important;
	width: 400px;
	aspect-ratio: 7/9;
	border: 1px solid white;
	background-color: black;
	background: #ffffff;
	  display: inline-block;
	  margin: 55px 75px 30px;
	  padding: 15px 15px 30px;
	  text-align: center;
	  text-decoration: none;
	  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	  -webkit-transition: all .20s linear;
	  -moz-transition: all .20s linear;
	  transition: all .20s linear;
	  z-index: 0;
	  position: relative;
  }
  .thumbnail {
	width: 0px;
	height: 0px;
	margin: 0px;
	border: 0px solid white;
	cursor: pointer;
  }
  .thumbnail img {
	width: 0%;
	height: 0%;
	object-fit: cover;
  }
  .selected-image {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 5px;
	max-width: 100%;
  }
  .prev,
  .next {
	position: absolute;
	top: 390px;
	transform: translateY(-50%);
	font-size: 30px;
	color: rblacked;
	cursor: pointer;
  }
  .prev {
	left: 20px;
  }
  .next {
	right: 20px;
  }
  .thumbnails {
	display: flex;
	flex-direction: row;
  }

small{
	font-size: 10px;
}

@media (min-width: 600px){
	.intro {
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
			"img title"
			"img subtitle";
		grid-template-columns: min-content max-content;
	}
	.intro__img {
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}
	.section__subtitle--intro {
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -5em;
		width: calc(100% + 5em);
	}
	
	
}

.mis-servicios {
	background-color: var(--clr-dark);
	background-image: url(../img/fondo10.jpg);
	background-size: cover;
	/*background-blend-mode: multiply;*/
	color: var(--clr-ligth);
	text-align: center;
	
}

.section__title--servicios {
	color: var(--clr-accent);
	position: relative;
	
}
.section__title--servicios::after {
	content:'';
	display:block;
	width: 2em;
	height: 1px;
	margin: 0.5em auto 1em;
	background: var(--clr-ligth);
	opacity: 0.25;
}

.servicios {
	margin-bottom: 4em;
}

.servicio {
	max-width: 500px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, .5);
}


@media (min-width: 800px){
	.servicios {
		display: flex;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.servicio + .servicio {
		margin-left: 2em;
	}
}

.informacion {
	max-width: 1000px;
	margin: 0 auto;
}

.informacion__img {
	box-shadow: var(--bs);
}

@media (min-width: 600px) {
	.informacion {
		display: grid;
		grid-template-columns: 1fr 200px;
		grid-template-areas: 
			"title img"
			"subtitle img"
			"text img";
		grid-column-gap: 2em;
	}
	
	.section__title--informacion {
		grid-area: title;
	}
	
	.section__subtitle--informacion {
		grid-column: 1 / -1;
		grid-row:2;
		position: relative;
		left: -1em;
		width: calc(100% + 2em);
		padding-left: 1em;
		padding-right: calc(200px + 4em)
	}
	
	.informacion__img {
		grid-area: img;
		position: relative;
	}
}

.mi-portafolio {
	background-color: var(--clr-dark);
	color:var(--clr-ligth);
	text-align: center;
}

.portafolio {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1000px;
	margin: 0 auto;
	
}

.portafolio__item {
	background: var(--clr-accent);
	overflow: hidden;
}

.portafolio__img {
	transition: transform 750ms cubic-bezier(.5,0,.5,1),
	opacity 250ms linear;
}

.portafolio p {
	font-size: var(--fs-body);
}

.portafolio__item:focus {
	position: relative;
	z-index: 2;
	
}

.portafolio__img:hover,
.portafolio__item:focus .portafolio__img {
	transform: scale(1.2);
	opacity: .6;
}

/*FOOTER*/
.footer {
	background: #111;
	color: white;
	text-align: center;
	padding-bottom: 200px;
	font-size: var(--fs-h3);
	
}

.footer a { 
	color: inherit;
	text-decoration: none;
}

.footer__link {
	font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
	opacity:.7;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 2em 0 0 ;
	padding: 0;
}

.social-list__link {
	margin: 0 .5em;
}

/*Individual portolio item styles*/
/*
.portafolio-item p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}
*/
.portafolio-item-individual {
	padding: 0 2em 2em;
	max-width: 1000px;
	margin:0 auto;
}

.portafolio-item-individual p {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* LOADER */
.contenedor_loader{
	background-color: #f3f3f3;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	transition: all 1.5s;
	display: flex;
	--align-items: center;
	justify-content: center;
}

.loader, .loader::before, .loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation: loader 1.5s infinite ease-in-out;
}

.loader {
	color: #fdeb80;
	font-size: 13px;
	position: relative;
	animation-delay: -0.16s;
}

.loader::before, .loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.loader::before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.loader:after {
	left: 3.5em;
}

@keyframes loader {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.fa-duotone .fa-arrow-up-right-from-square {
	font-size: 10px;
}

details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
  }
  
  summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
  }
  
  details[open] {
	padding: 0.5em;
  }